#include "Resource.h"
#include <windows.h>

IDI_ICON ICON DISCARDABLE "icondemo.ico"

STORYDIALOG DIALOG DISCARDABLE  32, 32, 180, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_BORDER | WS_CAPTION
CAPTION "Story"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "Start Story",IDOK,66,80,50,14
    ICON            IDI_ICON,IDC_STATIC,7,7,21,20
    CTEXT           "STORY.EXE",IDC_STATIC,40,12,100,8
    CTEXT           "This Is The Beginning",IDC_STATIC,7,40,166,8
    CTEXT           "(c) SumOfAllN00bs, 2014",IDC_STATIC,7,52,166,8
END

GAMEDIALOG DIALOG DISCARDABLE  80, 60, 245, 90
STYLE DS_MODALFRAME | WS_POPUP | WS_BORDER | WS_CAPTION
CAPTION "BLANK"
FONT 10, "Arial"
BEGIN
    DEFPUSHBUTTON   "blank",IDOK,5,60,80,15,NOT WS_VISIBLE
	PUSHBUTTON      "blank",IDYES,85,60,80,15,NOT WS_VISIBLE
	PUSHBUTTON      "blank",IDNO,165,60,80,15,NOT WS_VISIBLE
    LTEXT           "blank",1000,5,5,100,10,NOT WS_VISIBLE
    LTEXT           "blank",1001,5,15,100,10,NOT WS_VISIBLE
    LTEXT           "blank",1002,5,25,100,10,NOT WS_VISIBLE
END
